body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #373F51;
    color: #FFFFFF;
    text-align: center;
    min-height: 110vh;
    padding-bottom: 50px;
}

header {
    text-align: center;
}
nav {

    text-align: center;
}
nav li {
    text-decoration: none;
}
nav a {
    display: inline-block;
    text-decoration: none;
    color: #41337A;
    font-weight: bold;
    padding: 10px;
    background-color: #80A4ED;
    border-radius: 5px;
    width: auto;
}
nav a:hover {
  background-color: white;
}
nav ul {
    padding: 15px;
    list-style-type: none;
}

#hometext {
    float: left;
    margin: 0 auto;
    width: 50%;
}
#portrait {
    float: right;
    height: 300px;
    margin-right: 5vw;
}
#hometext::after, #portrait::after {
    clear: both;
}
dt {
    font-weight: bold;
    font-size: 1.2em;
}
dd{
    margin-left: 50px
}
#cusapreview{
    width: 300px;
}
footer {
    background-color: #80A4ED;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
}
.emailAnchor {
    color: #41337A;
    font-weight: bold;
}
.footertext {
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {
    nav a {
        margin: 10px 0;
        display: block;
        width: auto;
    }
    #hometext {
        float: left;
        margin: 0 auto;
    }
    #portrait {
        float: right;
    }
    #hometext, #portrait {
        float: none;
    }
}
